@use '../../../styles/base' as b;
@use '../../../styles/mixins' as m;

.card {
  @include m.flex-centered;
  flex-direction: column;
  background-color: b.$white;
  width: b.$content-width-mobile;
  border-radius: 15px;
  padding: 22px;
  margin: 10px auto 40px auto;
  overflow: hidden;

  @media screen and (min-width: b.$breakpoint-tablet) {
    width: b.$content-width-tablet;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 50px 20px 50px;
  }

  @media screen and (min-width: b.$breakpoint-desktop) {
    width: b.$content-width-desktop;
    padding: 30px 60px 20px 60px;
  }
}

.cardContent {
  text-align: center;
  @media screen and (min-width: b.$breakpoint-tablet) {
    width: 550px;

    & > * {
      text-align: left;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.largeContent {
  width: 280px;
  @media screen and (min-width: b.$breakpoint-desktop) {
    width: 420px;
  }
}

.heading {
  @media screen and (min-width: b.$breakpoint-tablet) {
    margin-left: 0;
  }
}

.description {
  max-width: 300px;
  @media screen and (min-width: b.$breakpoint-tablet) {
    margin-left: 0;
    max-width: 440px;
  }
}

.bulletList {
  list-style-type: none;
  margin: 40px 0;
  padding-left: 0;
}

.bulletItem {
  margin: 10px 0;
  & > * {
    display: inline;
    text-align: left;
    vertical-align: middle;
  }
}

.bulletIcon {
  height: 24px;
  margin-right: 8px;
}

.ctaBtn {
  height: 55px;
  width: 238px;
  margin: 16px auto;

  & > * {
    font-size: 15px;
    font-weight: 600;
  }

  @media screen and (min-width: b.$breakpoint-tablet) {
    margin: 30px 0;
  }
}
