@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

$font-family: 'Poppins', sans-serif;

$white: #fff;
$grey: #f6f8f8;
$darkGrey: #626263;
$blue: #015ba9;
$darkBlue: #091b4a;
$green: #10b981;

$breakpoint-mobile: 375px;
$breakpoint-tablet: 835px;
$breakpoint-desktop: 1440px;
