@use './base' as b;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: b.$font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: b.$darkBlue;
  background-color: b.$grey;
}

h1 {
  font-family: b.$font-family;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.4rem 0;

  @media (min-width: b.$breakpoint-tablet) {
    font-size: 2rem;
  }
}

h2 {
  // font-size: 17px;
  font-size: 20px;
  // font-weight: 400;
  font-weight: 500;
  margin: 10px;

  @media (min-width: b.$breakpoint-tablet) {
    font-size: 22px;
  }
}

h3 {
  font-weight: 400;
  font-size: 16px;
  margin: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: b.$darkGrey;
  text-align: center;
  font-size: 16px;
  margin: 5px;
}
