@use '../../../styles/base' as b;

.option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 74px;
  width: 100%;
  max-width: 350px;
  background-color: b.$white;
  border: 1px solid b.$outlineGrey;
  border-radius: 7px;
  margin: 8px 0 0 0;
  color: b.$darkGrey;
  cursor: pointer;
  text-align: left;
  padding: 0 1rem;

  @media (min-width: b.$breakpoint-tablet) {
    padding: 0 1.25rem;
  }

  @media (min-width: b.$breakpoint-desktop) {
    max-width: 220px;
  }
}

.headerRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fieldName {
  font-size: 0.65rem;
  margin: 0;
}

.value {
  color: b.$darkBlue;
  font-size: 0.9rem;
  margin: 2px 0 0 0;
  font-weight: 400;
}
