@use '../../styles/base' as b;

.wrapper {
  background-color: b.$white;
  width: 315px;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: b.$breakpoint-tablet) {
    width: 742px;
  }
  @media (min-width: b.$breakpoint-desktop) {
    background-position: center;
  }
}

.topRow {
  height: 44px;
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;

  @media (min-width: b.$breakpoint-tablet) {
    justify-content: space-between;
  }
}

.choiceField {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
