@use '../../styles/base' as b;

.wrapper {
  background-color: b.$white;
  width: 314px;
  height: 465px;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.choiceBtns {
  // height: 44px;
}

.choiceField {
  width: 100%;
}
