@use '../../../styles/base' as b;
@use '../../../styles/mixins' as m;

.options {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  height: 44px;
}

.option input[type='radio'] {
  display: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.option label {
  @include m.flex-centered;
  width: 90px;
  height: 44px;
  background-color: b.$white;
  border: 1px solid b.$outlineGrey;
  border-radius: 7px;
  margin: auto 2px;
  color: b.$darkGrey;
  font-size: 0.9rem;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.option input[type='radio']:checked + label {
  color: b.$white;
  background-color: b.$blue;
  font-weight: b.$lightBold;
}
