@use '../../../styles/base' as b;

.wrapper {
  position: relative;
  display: flex;
  width: b.$content-width-mobile;
  height: 90px;
  @media screen and (min-width: b.$breakpoint-desktop) {
    width: 400px;
  }
}

.logo {
  height: 50px;
  width: 50px;
}
